* {
  margin: none;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #1e1f26;
  margin: 0;
}

.logo {
  font-size: 2rem;
}

.logo2 {
  font-family: "Roboto", sans-serif;
}

nav {
  font-family: "Roboto", sans-serif;
  color: #d0e1f9;
  width: 100%;
  background-color: #18191a;
}

nav a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: #d0e1f9;
  padding: 1rem;
}

nav a:hover {
  border-radius: 30px;
  background-color: #4d648d;
}

nav .nav-bar {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-bar div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon {
  padding-right: 1rem;
  color: #d0e1f9;
}

.genre-list {
  padding-left: 1rem;
  list-style-type: none;
}

.main-header {
  width: 30%;
  height: 4vh;
  background-color: #1e1f26;
  margin: auto;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: none;
  width: 100%;
}

.search-form input {
  font-size: 1rem;
  width: 100%;
  border: none;
  background: transparent;
}

.search-form input:focus {
  background: transparent;
}

.search-form button {
  border: none;
  font-size: 1rem;
  color: white;
  background: transparent;
  cursor: pointer;
}

.movie-body {
  width: 80%;
  margin: auto;
}

.movie-body h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.trending-movies, .popular-people, .now-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid blue;
}

.markup-container {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 1rem;
}

.markup-image {
  width: 100%;
}

.detail-header {
  background-color: #283655;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-header2 {
  background-color: #283655;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trailer {
  cursor: pointer;
}

.trailer:hover {
  text-decoration: underline;
  color: #d0e1f9;
}

.overlay-container {
  position: relative;
}

.overlay-container img {
  display: block;
}

.overlay-container .overlay {
  position: absolute;
  top: 0;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  /* Black see-through */
  opacity: 0;
  margin: auto;
  padding: 1rem;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.overlay-container .overlay:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */