* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background: #1e1f26;
    margin: 0;
}

.logo {
    font-size: 2rem;
}
.logo2 {
    font-family: "Roboto", sans-serif;
}

nav {
    font-family: "Roboto", sans-serif;
    color: #d0e1f9;
    width: 100%;
    background-color: #18191a;

    a {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        font-size: 1rem;
        color: #d0e1f9;
        padding: 1rem;
        &:hover {
            border-radius: 30px;
            background-color: #4d648d;
        }
    }
    .nav-bar {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
    .nav-btns {
        display: flex;
        justify-content: space-around;
    }
}

.icon {
    padding-right: 1rem;
    color: #d0e1f9;
}

.genre-list {
    padding-left: 1rem;
    list-style-type: none;
}

.main-header {
    width: 30%;
    height: 4vh;
    background-color: #1e1f26;
    margin: auto;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
}
// Search Bar
.search-form {
    display: flex;
    padding: none;
    width: 100%;
}
.search-form input {
    font-size: 1rem;
    width: 100%;
    border: none;
    background: transparent;
    &:focus {
        background: transparent;
    }
}
.search-form button {
    border: none;
    font-size: 1rem;
    color: white;
    background: transparent;
    cursor: pointer;
}

.movie-body {
    background-color: #1e1f26;
    width: 60%;
    min-width: 1150px;
    margin: auto;
    h1 {
        font-size: 3rem;
        padding: 1rem 0;
        font-family: "Roboto", sans-serif;
        color: white;
    }
    h2 {
        font-family: "Roboto", sans-serif;
        color: white;
    }
}

.trending-movies,
.now-playing {
    display: flex;
    width: 70%;
}

.popular-people {
    display: flex;
    width: 100%;
}

.movie-flex {
    display: flex;
}

.now-playing-news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    padding: 0 1rem;
    h1 {
        margin: 0;
    }
    ul {
        list-style-type: none;
        color: white;
        font-size: 1.1rem;
    }
}

.weekly-trend {
    display: flex;
    flex-direction: column;
    margin: none;
    a {
        color: #d0e1f9;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 1em;
        font-family: "Roboto", sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
}

.more-info {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: white;
    background: #283655;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border-radius: 10rem;
}

.markup-container {
    border: 2px solid pink;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0.4rem;
}

.markup-image {
    width: 100%;
}

.markup-details {
    border: 1px solid blue;
    background-color: #283655;
}

.detail-header {
    background-color: #283655;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}
.detail-header2 {
    background-color: #283655;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}

.trailer {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: #d0e1f9;
    }
}

// overlay

.overlay-container {
    position: relative;
    img {
        display: block;
    }
    .overlay {
        overflow-y: scroll;
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.9); /* Black see-through */
        opacity: 0;
        margin: auto;
        padding: 1rem;
        height: 100%;
        font-family: "Roboto", sans-serif;
        &:hover {
            opacity: 1;
        }
    }
}

.footer-row1,
.footer-row2,
.footer-row3 {
    display: flex;
    background: black;
    justify-content: center;
    color: #d0e1f9;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.footer-row1 {
    margin-top: 3vh;
}

.footer-row3 {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.footer-row1 ul {
    list-style-type: none;
    display: flex;
    li {
        font-size: 1.5rem;
        padding: 1rem;
        color: #d0e1f9;
    }
}


.search-results{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #283655;
    width: 100%;
    margin-top: 2vh;
    border-radius: 50px;
}
.movie-results{
    margin: 0rem;
    width: 25%;
    padding: 1rem;
    img{
        border-radius: 10px;
        width: 100%;
    }
}