* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background: #1e1f26;
    margin: 0;
}

.logo {
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo2 {
    font-family: "Roboto", sans-serif;
}

nav {
    font-family: "Roboto", sans-serif;
    color: #d0e1f9;
    width: 100%;
    background-color: #18191a;
    opacity: 0;
    p {
        margin: none;
    }

    a {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        font-size: 1rem;
        color: #d0e1f9;
        padding: 1rem;
        &:hover {
            border-radius: 30px;
            background-color: #4d648d;
            padding: 0.1rem 1rem;
        }
    }
    .nav-bar {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
    .nav-btns {
        display: flex;
        justify-content: space-around;
        align-items: center;
        div a {
            display: flex;
            align-items: center;
        }
    }
}

.icon {
    padding-right: 1rem;
    color: #d0e1f9;
}

.main-header {
    width: 30%;
    height: 4vh;
    background-color: #1e1f26;
    margin: auto;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
}
// Search Bar
.search-form {
    display: flex;
    padding: none;
    width: 100%;
}
.search-form input {
    font-size: 1rem;
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    &:focus {
        background: transparent;
    }
}
.search-form button {
    border: none;
    font-size: 1rem;
    color: white;
    background: transparent;
    cursor: pointer;
}

.movie-body {
    background-color: #1e1f26;
    width: 60%;
    min-width: 1150px;
    margin: auto;
    h1 {
        font-size: 3rem;
        padding: 1rem 0;
        font-family: "Roboto", sans-serif;
        color: white;
    }
    h2 {
        font-family: "Roboto", sans-serif;
        color: white;
    }
}

.trending-movies,
.now-playing {
    display: flex;
    width: 70%;
}

.popular-people {
    display: flex;
    width: 100%;
}

.movie-flex {
    display: flex;
}

.now-playing-news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    padding: 0 1rem;
    h1 {
        margin: 0;
    }
    ul {
        list-style-type: none;
        color: white;
        font-size: 1.1rem;
    }
}

.weekly-trend {
    display: flex;
    flex-direction: column;
    margin: none;
    a {
        color: #d0e1f9;
        text-decoration: none;
        font-size: 1.1rem;
        padding: 1em;
        font-family: "Roboto", sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
}

.more-info {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: white;
    background: #283655;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border-radius: 10rem;
}

.markup-container {
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0.4rem;
}

.markup-image {
    width: 100%;
}

.markup-details {
    background-color: #283655;
}

.detail-header {
    background-color: #283655;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}
.detail-header2 {
    background-color: #283655;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        color: black;
        background: yellow;
        padding: 0.5rem;
        font-weight: 3rem;
        border-radius: 10px;
    }
}

@media (max-width: 1160px) {
    .movie-body {
        margin: auto;
        min-width: 100%;
    }
    .movie-flex {
        margin: auto;
        width: 95%;
        font-size: 1rem;
    }
    .markup-container {
        width: 100%;
    }
    .detail-header {
        min-height: 9vh;
    }
}

@media (max-width: 960px) {
    .movie-flex {
        flex-direction: column;
    }
    .trending-movies,
    .now-playing {
        width: 100%;
    }
    .now-playing-news {
        text-align: center;
        width: 100%;
    }
    .detail-header {
        min-height: 10vh;
    }
}
@media (max-width: 700px) {
    .popular-people {
        margin: auto;
        width: 95%;
        flex-wrap: wrap;
        .markup-container {
            margin: 1rem auto;
            width: 45%;
        }
    }
}

@media (max-width: 570px) {
    .now-playing-news {
        display: none;
    }
    .now-playing,
    .trending-movies {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .markup-container {
        margin: 1rem auto;
        width: 45%;
    }
    .detail-header {
        min-height: 8vh;
    }
    body h1 {
        text-align: center;
    }
}

.trailer {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: #d0e1f9;
    }
}

// overlay
.movie-results {
    position: relative;
    img {
        display: block;
    }
    .overlay {
        overflow-y: scroll;
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.9); /* Black see-through */
        opacity: 0;
        margin: auto;
        padding: 1rem;
        height: 100%;
        color: white;
        font-family: "Roboto", sans-serif;
    }
}

.overlay-container {
    position: relative;
    img {
        display: block;
    }
    .overlay {
        overflow-y: scroll;
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.9); /* Black see-through */
        opacity: 0;
        margin: auto;
        padding: 1rem;
        height: 100%;
        font-family: "Roboto", sans-serif;
        &:hover {
            opacity: 1;
        }
    }
}

.footer-row1,
.footer-row2,
.footer-row3 {
    display: flex;
    background: black;
    justify-content: center;
    color: #d0e1f9;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.footer-row1 {
    margin-top: 3vh;
}

.footer-row3 {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.footer-row1 ul {
    list-style-type: none;
    display: flex;
    li {
        font-size: 1.5rem;
        padding: 1rem;
        color: #d0e1f9;
    }
}

.search-results {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #283655;
    width: 100%;
    margin-top: 2vh;
}
.movie-results {
    margin: 0rem;
    width: 25%;
    padding: 1rem;
    position: relative;
    img {
        border-radius: 10px;
        width: 100%;
    }
}

@media (max-width: 875px) {
    .movie-results {
        width: 45%;
        padding: 0;
        img {
            border-radius: 10px;
            width: 100%;
        }
    }
}

@media (max-width: 450px) {
    .movie-results {
        width: 90%;
        padding: 0.5rem 0;
        img {
            border-radius: 10px;
            width: 100%;
        }
    }
}

// Search Overlay
.results-overlay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: #4d648d;
    opacity: 0.6;
    font-family: "Roboto", sans-serif;
}

.results-overlay2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: #4d648d;
    opacity: 0.6;
    font-family: "Roboto", sans-serif;
    margin: auto;
}

.close {
    color: white;
}

// Newly

.secondary-body {
    width: 70%;
    margin: auto;
    h1 {
        font-family: "Roboto", sans-serif;
        color: white;
    }
}

@media (max-width: 1160px) {
    nav a:hover {
        font-size: 1.2rem;
        background: none;
    }
    .hidetext {
        display: none;
    }
    .secondary-body {
        width: 100%;
        min-width: none;
    }
    .secondary-container {
        width: 50%;
    }
    .detail-header {
        margin: none;
    }
}
@media (max-width: 465px) {
    .secondary-body {
        width: 100%;
    }
    .secondary-container {
        min-width: 90%;
    }
}

.secondary-playing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.secondary-container {
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 225px;
    margin: 0.1rem;
}

.secondary-overlay {
    position: relative;
    img {
        display: block;
    }
    .overlay2 {
        overflow-y: scroll;
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.9); /* Black see-through */
        opacity: 0;
        margin: auto;
        padding: 1rem;
        height: 100%;
        font-family: "Roboto", sans-serif;
        &:hover {
            opacity: 1;
        }
    }
}

.secondary-image {
    width: 100%;
}

.secondary-markup-details {
    min-height: 15vh;
}

.secondary-detail-header {
    background-color: black;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}
.secondary-detail-header2 {
    background-color: black;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        color: black;
        background: yellow;
        padding: 0.5rem;
        font-weight: 3rem;
        border-radius: 10px;
    }
}

// .scroll-bar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #283655;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0e1f9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

.reveal-img,
.reveal-text {
    position: absolute;
    width: 100%;
    height: 150%;
    background: #17181a;
    left: 0;
    top: -15%;
}

// GSAP pre set css
.movie-flex {
    transform: translateX(-100%);
}

.now-playing-news {
    transform: translateX(1000%);
}

.secondary-playing{
    opacity: 0;
}

.reveal{
    opacity: 0;
}